body{
    background-image: url("pp.jpg");
    background-size: cover;
}
.imgcontainer {
    text-align: center;
}
.avatar {
    width: 50px;
}
.container{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
.form-container{
    background-color: rgba(211, 211, 211, 0.7);
    margin-left: 40%;
    margin-right: 40%;
    border: 1px solid black;
}