body{
    background-image: url("pp.jpg");
    background-size: cover;
    text-align: center;       
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: cyan;
}

.full{
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 4%;
    background-color : rgb(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
}

legend{
    text-align: left;
}
