body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("pp.jpg");
    background-size: cover;
}
nav.navbar{
    align-self: stretch;
    width:  100%;
    box-sizing: border-box;
}
.base{
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
    background-color : rgb(255, 255, 255, 0.8);

}